body{
    margin: 0px;
    overflow-y: hidden;
    overflow-y: hidden;
    background-image: url("../src/imagenes/background.png");
    background-repeat: no-repeat;
    width: 100vh;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}